<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.classmate"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATUS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ClassmateApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name="com.example.classmate.WelcomeActivity"
            android:label="@string/title_activity_welcome" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.classmate.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100493916" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.classmate.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.example.classmate.ClassmateActivity"
            android:label="@string/title_activity_classmate" >
        </activity>
        <activity
            android:name="com.example.classmate.UserProfileActivity"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name="com.example.classmate.PublishNewsActivity"
            android:label="@string/title_activity_publish_news" >
        </activity>
        <activity
            android:name="com.example.classmate.NewsDetailActivity"
            android:label="@string/title_activity_publish_news" >
        </activity>
        <activity
            android:name="com.example.classmate.UserDetailActivity"
            android:label="同学信息" >
        </activity>
        <activity
            android:name="com.example.classmate.HolidayDetailActivity"
            android:label="纪念日详情" >
        </activity>
        <activity
            android:name="com.example.classmate.AlbumActivity"
            android:label="@string/title_activity_album" >
        </activity>
        <activity
            android:name="com.tencent.tauth.TAuthView"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="auth" />
            </intent-filter>
        </activity>
    </application>

</manifest>